body{
    background-image: url(/images/bg.png);
    background-size: cover;
}

.body-container{
    padding: 0;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    
}

.logo{
    width: 100px;
    float: left;
    margin-top: 5px;
}

.homepage-header{
    background-color: aliceblue;
    color: limegreen;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid limegreen;
    font-weight: bold;
}
.logo-div, .header-contact{
    padding-top:10px;
    padding-left: 100px; 
    width: 50%;
    float: left;
    height: 100px;
}

ul{
    margin-left: 70px;
}
li{
    list-style-type: none;
    float: left;
    border-left: 1px solid limegreen;
    padding: 0;
    margin: 20px;
    margin-top:70px;
    padding-left: 10px;
}

.motto{
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    text-align: center;
}
.main-container {
    width: 100%;
    /* background-color:#bbb; */
    padding:0 20px;

}

.slide-show {
    /* width: 500px; */
    height: 150px;
    /* border: 2px solid limegreen; */
    margin: 0 auto;
    
}
.mySlides {
    height: 200px;
    width: 100%;
}
.front-container {
    /* width: 60%; */
    margin: 60px auto;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* .envProb-div{
    border-top: 2px solid limegreen;
} */
.news, .env-Problems {
    width: 300px;
    height: 200px;
    float: left;
    
    margin: 20px 25px;
}

.news-abs{
    height: 50px;
    width: 100%;
    background-color: aqua;
    margin-top: 130px;
    box-sizing: border-box;
    padding: 0 auto;
}

.h2-env, footer{
    display:block;
    float: none;
    clear: both;
    margin-top: 40px;
}



footer{
    border-top: 3px solid limegreen;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    background-color: aliceblue; 
    font-weight: bolder;
    font-size: 1.5em;
}

.h2-env, .h2-news{
    border-bottom: 2px solid rgb(175, 171, 171);
}

.btn-primary{
    height: 40px;
    box-sizing: border-box;
    
}

